*{
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif, italic;
}
body{
	position: relative;
}
header{
	font-weight: bold;
	text-align: center;
	height:4em;
	font-size: 2em;
	padding: 20px;
}
#container{
	position:relative;
}
.text{
	clear: right;
	padding: 10px;
}
section{
	border: 1px solid #000;
	margin: 10px;
	padding: 0px 0px 10px 10px;
	position: relative;
	background-color: #646D7E;
	color: #fff;
}
.title-text{
	width: 25%;
	color: #fff;
	font-weight: bold;
	float: right;
	border: 1px solid black;
	padding: 10px;
	font-size: 125%;
	font-weight: 80px;
	text-align: center;
}
#text-bg-1{
	background-color: #808000;
}
#text-bg-2{
	background-color:#A52A2A;
}
#text-bg-3{
	background-color: #00008B;
}
@media (min-width: 992px){
	#first{
		margin-left: 30px;
	}
	.col-lg-3{
		float: left;
		width: 30%;
		height: 195px;
	}
}
@media (min-width: 760px) and (max-width: 991px){
	.col-md-6{
		width: 47%;
		float: left;
	}
	.col-md-12{
		width:96%;
		clear: left;
		margin-left: 15px;
		margin-right: 15px;
	}
	#first{
		margin-left: 15px;
	}
	#last{
		margin: 20px 20px 20px 15px;
	}
}
@media (max-width: 767px) {
	.col-sm-12{
		clear: left;
		width 97%;
		margin: 15px;
		margin-right: 50px;
	}
}
